/*	Stylesheet: ECI
	primary: #670001;
	primary opacity: #A46667; 
	secondary: #666;
	secondary-light: #ccc;
	primary-light: #E1CCCC;
	primary-extra-light:f0e6e6;
	primary-faint:faf8f8;
*/ 

      #masthead {
      background-color: #670001;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
