/*	Stylesheet: EDS
	primary: #074611;
	primary opacity: #6A9070;
	secondary: #666;
	secondary-light: #ccc;
	primary-light: #CDDACF;
	primary-extra-light: #ebf0ec;
	primary-faint: #fafbfa;
*/ 

      #masthead {
      background-color: #074611;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
