/*	Stylesheet: FHC
	primary: #221B13;
	primary opacity: #7A7671; 
	secondary: #666;
	light: #D3D1D0;
	secondary-light: #ccc;
	primary-light: #bdbbb8;
	primary-extra-light: #e9e8e7;
	primary-faint: #f8f8f8;	
*/

      #masthead {
      background-color: #221B13;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
