/*	Stylesheet: GCI
	primary: #010A59;
	primary opacity: #676C9B;
	secondary: #d1b317;
	light: #CCCEDE;
	secondary-light: #ddbe99;
	primary-light: #B3B6CD;
	primary-extra-light: #e6e6ee;
	primary-faint: #f8f8fa;
*/ 

      #masthead {
      background-color: #010A59;
      }
      .navbar {
      background-color: #d1b317;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#ddbe99;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#ddbe99;
      }
