/*	Stylesheet: GNSS
	primary: #550055;
	primary opacity: #800080;
	secondary: #aa5d00;
	secondary-light: #ddbe99;
	primary-light: #D9B2D9;
	primary-extra-light: #ecd8ec;
	primary-faint: #f6ecf6;
*/ 

      #masthead {
      background-color: #550055;
      }
      .navbar {
      background-color: #aa5d00;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#ddbe99;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#ddbe99;
      }
         #logo a {
      background:url("https://wrdsb-ui-assets.s3.amazonaws.com/public/2/2.0.0/images/WRDSB+Secondary+Logo+cropped.png") no-repeat;
      background-size:75px 75px;
      /*margin-left:120px;*/
      text-decoration:none;
      color:#fff;
      margin-top: 15px;
      font-family: 'Open Sans Condensed', sans-serif !important;
      font-size: 40px;
      }