/*	Stylesheet: GRC
	primary: #1B2B9C;
	primary opacity #7680C4;
	secondary #999:
	light: #D1D5EB;
	secondary-light: #d6d6d6;
	primary-light: #d1d5eb;
	primary-extra-light: #e8eaf5;
	primary-faint: #f6f7fb;
*/ 

      #masthead {
      background-color: #1B2B9C;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
