/*	Stylesheet: JAM
	primary: #4480B2;
	primary opacity: #8FB3D1;
	secondary; #30669B;
	light: #DAE6F0;
	secondary-light: #d6e0eb;
	primary-light: #dae6f0;
	primary-extra-light: #ecf2f7;
	primary-faint: #f6f8fb;*/ 

      #masthead {
      background-color: #4480B2;
      }
      .navbar {
      background-color: #30669B;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#3f7bb5;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#3f7bb5;
      }
         #logo a {
      background:url("https://wrdsb-ui-assets.s3.amazonaws.com/public/2/2.0.0/images/WRDSB+Secondary+Logo+cropped.png") no-repeat;
      background-size:75px 75px;
      /*margin-left:120px;*/
      text-decoration:none;
      color:#fff;
      margin-top: 15px;
      font-family: 'Open Sans Condensed', sans-serif !important;
      font-size: 40px;
      }