/*	Stylesheet: JHS
	primary: #6B8AA7;
	primary opacity: #A6B9CA;
	secondary: #1C2F74;
	light: #E1E8ED;
	secondary-light: #ddbe99;
	primary-light: #d3dce5;
	primary-extra-light: #e1e8ed;
	primary-faint: #f6f8fa;
*/

      #masthead {
      background-color: #6B8AA7;
      }
      .navbar {
      background-color: #1C2F74;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#3f59b5;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#3f59b5;
      }
