/*	Stylesheet: PHS
	primary: #29090C;
	primary opacity: #7F6B6D;
	secondary: #666;
	light: #D4CECE;
	secondary-light: #ccc;
	primary-light: #d4cece;
	primary-extra-light: #eae6e7;
	primary-faint: #f7f5f5;*/ 

      #masthead {
      background-color: #29090C;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
         #logo a {
      background:url("https://wrdsb-ui-assets.s3.amazonaws.com/intranet/2/2.2.0/images/wrdsb_primary+logo_rev.svg") no-repeat;
      background-size:75px 75px;
      /*margin-left:120px;*/
      text-decoration:none;
      color:#fff;
      margin-top: 15px;
      font-family: 'Open Sans Condensed', sans-serif !important;
      font-size: 40px;
      }