/*	Stylesheet: SSS
	primary: #ef3e33;
	primary opacity: #99140c;
	secondary: #333;
	light: #f2665d;
	secondary-light: #999;
	primary-light: #f2665d;
	primary-extra-light: #fbc9c6;
	primary-faint: #fef1f0;*/ 

      #masthead {
      background-color: #99140c;
      }
      .navbar {
      background-color: #333;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#666;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#666;
      }
         #logo a {
      background:url("https://wrdsb-ui-assets.s3.amazonaws.com/public/2/2.0.0/images/WRDSB+Secondary+Logo+cropped.png") no-repeat;
      background-size:75px 75px;
      /*margin-left:120px;*/
      text-decoration:none;
      color:#fff;
      margin-top: 15px;
      font-family: 'Open Sans Condensed', sans-serif !important;
      font-size: 40px;
      }