/*	Stylesheet: WCI
	primary: #0A1241
	primary opacity #6C718D: 
	secondary #A30001:
	light: #CED0D9;
	secondary-light: #e3b2b3;
	primary-light: #9da0b3;
	primary-extra-light: #e6e7ec;
	primary-faint: #f8f8f9;
*/ 

      #masthead {
      background-color: #0A1241;
      }
      .navbar {
      background-color: #A30001;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#cf2b2c;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#cf2b2c;
      }
