/*	Stylesheet: WOD
	primary: #12180A;
	primary opacity: #71746C;
	secondary: #666:
	light: #D0D1CE;
	secondary-light: #ccc;
	primary-light: #d0d1ce;
	primary-extra-light: #e7e8e6;
	primary-faint: #f5f6f5;
*/ 

      #masthead {
      background-color: #221B13;
      }
      .navbar {
      background-color: #666;
      }
      .my-sub-navbar {
      	background-color: white;
      }
      .nav >li > a:hover, .nav >li > a:focus {
      background-color:#999;
      }
      .nav >li.active,
      .nav >li.current-page-ancestor,
      .nav >li.current_page_ancestor,
      .nav >li.current-menu-item,
      .nav >li.current_page_item {
      background-color:#999;
      }
         #logo a {
      background:url("https://wrdsb-ui-assets.s3.amazonaws.com/public/2/2.0.0/images/WRDSB+Secondary+Logo+cropped.png") no-repeat;
      background-size:75px 75px;
      /*margin-left:120px;*/
      text-decoration:none;
      color:#fff;
      margin-top: 15px;
      font-family: 'Open Sans Condensed', sans-serif !important;
      font-size: 40px;
      }